<!DOCTYPE html>
<html>
    <head>
        <h1>Buster's Best Bowling Alley<</h1>
    </head>
    <body>
        <h1>Hello World</h1>
        <p>97 Bowling Alley Lane, Boulder CO</p>
    </body>
</html>
